<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus est enim,
  luctus id auctor non, faucibus ac ex. Sed vel imperdiet lorem, pellentesque
  euismod arcu. Pellentesque in sapien non eros maximus eleifend a nec nisl.
  Aliquam ac pretium felis, vitae sagittis velit. Fusce porttitor porttitor
  lectus, at imperdiet ex. Nam nec massa eget lorem interdum bibendum et at
  nunc. Sed fermentum molestie eleifend. Donec feugiat vitae sem vel
  ullamcorper. Nunc et est vel ante finibus luctus placerat quis sem. Vivamus
  quis ipsum nec ipsum suscipit ullamcorper. Morbi interdum purus sit amet
  tellus dapibus, ut molestie augue accumsan. Fusce et tristique lectus. Aliquam
  vel eros ex. Suspendisse egestas eros interdum purus sagittis sagittis. Mauris
  vitae iaculis elit.
</p>

<p [imaginaSubrayado] = "'yellow'">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus est enim,
  luctus id auctor non, faucibus ac ex. Sed vel imperdiet lorem, pellentesque
  euismod arcu. Pellentesque in sapien non eros maximus eleifend a nec nisl.
  Aliquam ac pretium felis, vitae sagittis velit. Fusce porttitor porttitor
  lectus, at imperdiet ex. Nam nec massa eget lorem interdum bibendum et at
  nunc. Sed fermentum molestie eleifend. Donec feugiat vitae sem vel
  ullamcorper. Nunc et est vel ante finibus luctus placerat quis sem. Vivamus
  quis ipsum nec ipsum suscipit ullamcorper. Morbi interdum purus sit amet
  tellus dapibus, ut molestie augue accumsan. Fusce et tristique lectus. Aliquam
  vel eros ex. Suspendisse egestas eros interdum purus sagittis sagittis. Mauris
  vitae iaculis elit.
</p>
<p [imaginaSubrayado]="'blue'">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus est enim,
  luctus id auctor non, faucibus ac ex. Sed vel imperdiet lorem, pellentesque
  euismod arcu. Pellentesque in sapien non eros maximus eleifend a nec nisl.
  Aliquam ac pretium felis, vitae sagittis velit. Fusce porttitor porttitor
  lectus, at imperdiet ex. Nam nec massa eget lorem interdum bibendum et at
  nunc. Sed fermentum molestie eleifend. Donec feugiat vitae sem vel
  ullamcorper. Nunc et est vel ante finibus luctus placerat quis sem. Vivamus
  quis ipsum nec ipsum suscipit ullamcorper. Morbi interdum purus sit amet
  tellus dapibus, ut molestie augue accumsan. Fusce et tristique lectus. Aliquam
  vel eros ex. Suspendisse egestas eros interdum purus sagittis sagittis. Mauris
  vitae iaculis elit.
</p>
<p [imaginaSubrayado]="">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus est enim,
  luctus id auctor non, faucibus ac ex. Sed vel imperdiet lorem, pellentesque
  euismod arcu. Pellentesque in sapien non eros maximus eleifend a nec nisl.
  Aliquam ac pretium felis, vitae sagittis velit. Fusce porttitor porttitor
  lectus, at imperdiet ex. Nam nec massa eget lorem interdum bibendum et at
  nunc. Sed fermentum molestie eleifend. Donec feugiat vitae sem vel
  ullamcorper. Nunc et est vel ante finibus luctus placerat quis sem. Vivamus
  quis ipsum nec ipsum suscipit ullamcorper. Morbi interdum purus sit amet
  tellus dapibus, ut molestie augue accumsan. Fusce et tristique lectus. Aliquam
  vel eros ex. Suspendisse egestas eros interdum purus sagittis sagittis. Mauris
  vitae iaculis elit.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus est enim,
  luctus id auctor non, faucibus ac ex. Sed vel imperdiet lorem, pellentesque
  euismod arcu. Pellentesque in sapien non eros maximus eleifend a nec nisl.
  Aliquam ac pretium felis, vitae sagittis velit. Fusce porttitor porttitor
  lectus, at imperdiet ex. Nam nec massa eget lorem interdum bibendum et at
  nunc. Sed fermentum molestie eleifend. Donec feugiat vitae sem vel
  ullamcorper. Nunc et est vel ante finibus luctus placerat quis sem. Vivamus
  quis ipsum nec ipsum suscipit ullamcorper. Morbi interdum purus sit amet
  tellus dapibus, ut molestie augue accumsan. Fusce et tristique lectus. Aliquam
  vel eros ex. Suspendisse egestas eros interdum purus sagittis sagittis. Mauris
  vitae iaculis elit.
</p>
