<button (click)="toogle()">open / close</button>

<div [@open-close] ="open ? 'opened':'closed'">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris varius
    maximus velit eget ullamcorper. Suspendisse potenti. Nunc fringilla porta
    est, sit amet rutrum odio suscipit ac. Morbi ante mauris, molestie at ipsum
    varius, tristique posuere ex. Pellentesque eu vulputate arcu, eget venenatis
    tellus. Duis suscipit, quam semper porta fermentum, lorem mauris fermentum
    augue, non interdum sem sem sodales tellus. Aliquam massa lacus, tempor et
    sem non, fringilla aliquam orci. Sed non risus tincidunt, suscipit enim id,
    feugiat dolor.
  </p>
</div>
